body {
  margin: 0px;
  padding: 0px;
  background-color: aliceblue;
}
.left-container {
  position: fixed;
  width: 400px;
  height: 100vh;
  background-color: #8ea696;
}

.photo {
  width: 50%;
  border-radius: 45%;
}

.photo-contact {
  position: absolute;
  top: 100px;
  text-align: center;
}

.contact-btn {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}
.contact-btn:hover {
  background-color: black;
  color: white;
  transition: 1s;
}
